*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(237, 216, 216);
}

header{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: rgb(48, 83, 222);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
}

.btn:hover{
    background-color: rgb(21, 11, 131);
    cursor: pointer;
    transition: 1s;
}

#highlights-section{
    width: 70%;
    margin: 50px auto;
}

#highlights-section > h2 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    text-shadow: 2px 2px 8px #af3d3d;
    margin-bottom: 25px;
}

#highlights-section > p {
    margin: 0 auto;
    width: 50%;
    color: rgb(89, 85, 85);
    text-align: center;
    margin-bottom: 25px;
}

#buy-now-button {
    display: flex;
    justify-content: center;
}

#cover-image-section{
    width: 70%;
    margin: 50px auto;
}

#cover-image-section img{
    width: 100%;
}

#search-section{
    width: 70%;
    margin: 50px auto;
}

#search-section > h2{
    text-align: center;
    margin-bottom: 25px;
}

#search-container{
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(237, 232, 192);
    display: flex;
}

#search-bar{
    width: 70%;
}

#search-bar > input[type="text"]{
    padding: 15px;
    border: none;
    outline: none;
    width: 60%;
    background-color: rgb(237, 232, 192);
}

#search-button{
    width: 30%;
    display: flex;
    justify-content: end;
}

#card-section{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.card{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 20px;
}

.card-image{
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-image:hover{
    background-color: #d7c2c2;
    transition: 0.8s;
}

.card-image img{
    width: 100%;
    height: 300px;
}

.card-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.card-description{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(117, 108, 108);
}

.card-price{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}

.card-button{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}