*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(237, 216, 216);
}

header{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: rgb(48, 83, 222);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
}

.btn:hover{
    background-color: rgb(21, 11, 131);
    cursor: pointer;
    transition: 1s;
}

#highlights-section{
    width: 70%;
    margin: 50px auto;
}

#highlights-section > h2 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    text-shadow: 2px 2px 8px #af3d3d;
    margin-bottom: 25px;
}

#highlights-section > p {
    margin: 0 auto;
    width: 50%;
    color: rgb(89, 85, 85);
    text-align: center;
    margin-bottom: 25px;
}

#buy-now-button {
    display: flex;
    justify-content: center;
}

#cover-image-section{
    border: 2px solid olivedrab;
    width: 70%;
    margin: 50px auto;
}

#cover-image-section img{
    width: 100%;
}